/*@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
       url(../fonts/web/ptsansnarrow.woff2) format("woff2"),
       url(../fonts/web/ptsansnarrow.woff) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"),
       url(../fonts/web/ptsansnarrow.woff2) format("woff2"),
       url(../fonts/web/ptsansnarrow.woff) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"),
       url(../fonts/web/ptsansnarrowbold.woff2) format("woff2"),
       url(../fonts/web/ptsansnarrowbold.woff) format("woff");
}*/

html {
  box-sizing: border-box;
}

*, *:before, *:after, *::before, *::after {
  box-sizing: inherit;
}

body {  
  margin: 0;
  padding: 0 20px;

  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283136;

  background-color: #ffffff;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #000000;

  background-color: #f1f1f1;
  border: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/*::-webkit-scrollbar {
  width: 4px;

  padding-right: 9px;
}

::-webkit-scrollbar:horizontal {
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #cccccc;
}

.container {
  width: 1160px;
  margin: 0 auto;
}*/