/* ------------- Fonts ------------- */

/*@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
       url(../fonts/web/ptsansnarrow.woff2) format("woff2"),
       url(../fonts/web/ptsansnarrow.woff) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"),
       url(../fonts/web/ptsansnarrow.woff2) format("woff2"),
       url(../fonts/web/ptsansnarrow.woff) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"),
       url(../fonts/web/ptsansnarrowbold.woff2) format("woff2"),
       url(../fonts/web/ptsansnarrowbold.woff) format("woff");
}*/


/* ------------- Сommon styles ------------- */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  min-width: 1200px;
  height: 100vh;
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283136;

  background-color: #ffffff;
}

.container {
  position: relative;

  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.button {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;

  font: inherit;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  word-break: break-all;
  color: #ffffff;

  border: none;
  border-radius: 3px;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.button_wide {
  width: 100%;
}

.button_grey {
  color: #000000;

  background-color: #eeeeee;
}

.button_grey:hover,
.button_grey:focus {
  background-color: #dfdfdf;
}

.button_grey:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
}

.button_red {
  background-color: #fb565a;
}

.button_red:hover,
.button_red:focus {
  background-color: #e74246;
}

.button_red:active {
  background-color: #d7373b;
}

.button_green {
  background-color: #00ca74;
}

.button_green:hover,
.button_green:focus {
  background-color: #00bc6c;
}

.button_green:active {
  background-color: #00aa62;
}

.button_yellow {
  background-color: #efc84a;
}

.button_yellow:hover,
.button_yellow:focus {
  background-color: #eab534;
}

.button_yellow:active {
  background-color: #e5a722;
}

.button:disabled,
.button_disabled {
  opacity: 0.3;
  cursor: default;
}

.button_disabled {
  pointer-events: none;
}

.button_disabled:focus {
  outline: none;
}

.button_grey:disabled:hover,
.button_grey.button_disabled:hover,
.button_grey.button_disabled:focus {
  background-color: #eeeeee;
}

.button_red:disabled:hover,
.button_red.button_disabled:hover,
.button_red.button_disabled:focus {
  background-color: #fb565a;
}

.button_green:disabled:hover,
.button_green.button_disabled:hover,
.button_green.button_disabled:focus {
  background-color: #00ca74;
}

.button_yellow:disabled:hover,
.button_yellow.button_disabled:hover,
.button_yellow.button_disabled:focus {
  background-color: #efc84a;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}


/* ------------- Header ------------- */

.main-header {
  background-color: #eeeeee;
}

.main-header .container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: flex-start;
}

.main-header__link {
  position: relative;

  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;

  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
}

.main-header__link:hover,
.main-header__link:focus {
  color: #fb565a;
}

.main-header__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-header__link_current::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -5px;

  display: block;
  width: 100%;
  height: 2px;

  background-color: #fb565a;
}

.logo {
  width: 160px;
  height: 65px;
  margin-top: 49px;
  margin-right: 202px;
}

.logo_inner:hover path,
.logo_inner:focus path {
  fill: rgba(0, 0, 0, 0.8);
}

.logo_inner:active path {
  fill: rgba(0, 0, 0, 0.3);
}

.main-menu {
  max-width: 600px;
  margin-top: 75px;
}

.main-menu__items {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.main-menu__item {
  margin-right: 46px;
}

.main-menu__item:last-child {
  margin-right: 0;
}

.cart {
  max-width: 160px;
  margin-top: 75px;
  margin-left: auto;
  padding-left: 40px;
}

.cart::before {
  content: "";

  position: absolute;
  top: 7px;
  left: 0;

  display: block;
  width: 15px;
  height: 15px;

  background-image: url("../images/icons/cart-icon.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}


/* ------------- Main content ------------- */

.main-content {
  flex-grow: 1;
}

.columns-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.slider-view,
.slider-pagination,
.services-list,
.clients-list,
.socials-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}


/* ------------- Main content - Slider ------------- */

.slider {
  background-color: #eeeeee;
}

.slider-view__item {
  display: none;

  padding-top: 78px;
  padding-bottom: 80px;

  background-repeat: no-repeat;
  background-position: right bottom;
}

.slider-view__item_1 {
  background-image: url("../images/slider/slide-1.png");
}

.slider-view__item_2 {
  background-image: url("../images/slider/slide-2.png");
}

.slider-view__item_3 {
  background-image: url("../images/slider/slide-3.png");
}

.slider-view__item_current {
  display: block;
}

.slider-view__header {
  display: block;
  margin-bottom: 25px;

  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: #000000;
}

.slider-view__text {
  margin: 0;
  margin-bottom: 40px;
}

.slider-view__button {
  width: 240px;
}

.slider-pagination {
  position: absolute;
  left: 50%;
  bottom: 96px;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  transform: translateX(-50%);
}

.slider-pagination__item {
  margin-right: 17px;
}

.slider-pagination__item:last-child {
  margin-right: 0;
}

.slider-pagination__button {
  position: relative;

  display: block;
  width: 18px;
  height: 18px;
  padding: 0;

  background-color: #ffffff;

  border: none;
  border-radius: 50%;
}

.slider-pagination__button_current::before {
  content: "";

  position: absolute;
  top: 5px;
  left: 5px;

  display: block;
  width: 8px;
  height: 8px;

  background-color: #ffffff;

  border: 2px solid #c1c1c1;
  border-radius: 50%;
}


/* ------------- Main content - Services ------------- */

.services {
  padding-top: 80px;
  padding-bottom: 82px;
}

.services::after,
.about-us::after,
.clients::after {
  content: "";

  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 0;

  display: block;
  width: auto;
  height: 2px;

  background-color: #eeeeee;
}

.services-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.services-list__item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-right: 100px;
}

.services-list__item:last-child {
  margin-right: 0;
}

.services-list__item h3 {
  margin: 0;
  margin-bottom: 16px;

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.services-list__item img {
  order: -1;
  width: 300px;
  height: 146px;
  margin-bottom: 25px;
}

.services-list__text {
  margin: 0;
  margin-bottom: 32px;
}

.services-list__button {
  width: 160px;
}


/* ------------- Main content - About us ------------- */

.about-us {
  padding-bottom: 50px;
}

.about-us__description {
  width: 660px;
  padding-top: 74px;
}

.about-us__header {
  display: block;
  margin-bottom: 32px;

  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: #000000;
}

.about-us__text {
  margin: 0;
  margin-bottom: 40px;
}

.about-us__text_bold {
  margin-bottom: 24px;

  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.about-us__orders-items {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.about-us__orders-item {
  position: relative;

  margin-bottom: 24px;
  padding-left: 36px;
}

.about-us__orders-item::before {
  content: "";

  position: absolute;
  top: 11px;
  left: 0;

  display: block;
  width: 25px;
  height: 2px;

  background-color: #fb565a;
}

.about-us__statistic {
  width: 360px;
  padding-top: 284px;

  background-image: url("../images/nerds-illustration.jpg");
  background-position: left 40px;
  background-repeat: no-repeat;
}

.about-us__statistic .about-us__text_bold {
  margin-bottom: 40px;

  text-align: center;
}

.about-us__statistic-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.about-us__statistic-table td {
  padding: 16px 0;

  line-height: 18px;
}

.about-us__statistic-number {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  color: #000000;
}

.about-us__statistic-number sup {
  font-size: 28px;
}


/* ------------- Main content - Clients ------------- */

.container_clients {
  padding: 0;
}

.clients-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.clients-list__item {
  position: relative;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 184px;
}

.clients-list__item::after {
  content: "";

  position: absolute;
  top: 50%;
  right: 0;

  display: block;
  width: 2px;
  height: 52px;

  background-color: #eeeeee;

  transform: translateY(-50%);
}

.clients-list__item:nth-child(4n)::after {
  display: none;
}

.clients-list__logo {
  opacity: 0.2;
}

.clients-list__logo:hover,
.clients-list__logo:focus {
  opacity: 1;
}

.clients-list__logo:active {
  opacity: 0.1;
}


/* ------------- Main content - Shop ------------- */

.filters-form__list,
.sorter-list,
.sorter-controls,
.catalog-list,
.pagination {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.filters {
  width: 260px;
}

.filters-form__fieldset {
  border: none;
}

/*.indicator {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 20px;
  height: 20px;

  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.indicator_checkbox {
  border-radius: 0;
}

.indicator_radio {
  border-radius: 50%;
}

input[type="checkbox"]:checked + label .indicator_checkbox::before,
input[type="checkbox"]:checked + label .indicator_checkbox::after {
  content: "";

  position: absolute;
  top: 6px;
  left: 1px;

  display: block;
  width: 14px;
  height: 3px;

  background-color: #000000;
}

input[type="checkbox"]:checked + label .indicator_checkbox::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input[type="checkbox"]:checked + label .indicator_checkbox::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type="radio"]:checked + label .indicator_radio::before {
  content: "";

  position: absolute;
  top: 4px;
  left: 4px;

  display: block;
  width: 8px;
  height: 8px;

  background-color: #000000;
  border-radius: 50%;
}

input[type="checkbox"]:focus + label .indicator,
input[type="radio"]:focus + label .indicator {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label {
  color: #000000;

  opacity: 0.3;

  cursor: default;
}*/

.sorter {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-end;
}

.sorter-legend {
  max-width: 260px;
  margin-right: auto;
}

.sorter-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  max-width: 380px;
}

.sorter-controls {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 60px;
}

.catalog {
  width: 760px;
}

.catalog-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-list__item {
  width: 360px;
}

.pagination {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.pagination__item {
  margin-right: 10px;
}

.pagination__item:lat-child {
  margin-right: 0;
}


/* ------------- Footer ------------- */

.main-footer {
  padding-top: 80px;
}


/* ------------- Footer - Map ------------- */

.map {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;

  /*height: 416px;*/
}

.map .container {
  position: absolute;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;

  height: 416px;
}

.map__contacts {
  width: 320px;
  padding: 50px;

  background-color: #ffffff;
}

.map__contacts h3 {
  margin: 0;
  margin-bottom: 22px;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.map__text {
  margin: 0;
  margin-bottom: 18px;

  line-height: 18px;
  color: #666666;
}

.map__button {
  width: 220px;
  margin-top: 20px;
}


/* ------------- Footer - Socials ------------- */

.socials {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding-bottom: 70px;
}

.socials-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 260px;
  margin-right: 140px;
  padding-top: 68px;
}

.socials-list__item {
  margin-right: 13px;
}

.socials-list__item:last-child {
  margin-right: 0;
}

.socials-list__link {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 78px;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.socials-list__link:hover,
.socials-list__link:focus {
  background-color: #e74246;
}

.socials-list__link:active {
  background-color: #d7373b;
}

.socials-list__link:active svg {
  opacity: 0.3;
}

.socials-discount {
  padding-top: 74px;
}

.socials-discount__header {
  display: block;
  margin-bottom: 10px;

  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
}

.socials-discount__text {
  margin: 0;
}


/* ------------- Popup ------------- */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;

  display: none;

  background-color: rgba(0, 0, 0, 0.5);
}

.overlay_visible {
  display: block;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 11;

  display: none;
  width: 960px;
  padding: 68px 100px;
  padding-bottom: 84px;

  color: #000000;

  background-color: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);

  transform: translate(-50%, -50%);
}

.popup_visible {
  display: block;
}

.feedback-form__fieldset {
  margin: 0;
  margin-bottom: 6px;
  padding: 0;

  border: none;
}

.feedback-form__legend {
  margin-bottom: 40px;

  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: #000000;
}

.feedback-form__list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.feedback-form__item {
  width: 360px;
  margin-bottom: 33px;
}

.feedback-form__item_wide {
  width: 100%;
}

.feedback-form__label {
  display: block;
  margin-bottom: 10px;

  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #000000;
}

.feedback-form__field {
  width: 360px;
  padding: 14px;

  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;

  background-color: #ffffff;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.feedback-form__field::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.feedback-form__field_wide {
  width: 100%;
}

.feedback-form__field_textarea {
  min-height: 118px;
  padding: 10px 14px;

  resize: none;
}

.feedback-form__button {
  width: 260px;
}

.popup__close-button {
  content: "";

  position: absolute;
  top: 79px;
  right: 90px;

  display: block;
  width: 21px;
  height: 21px;
  padding: 0;

  border: none;
  opacity: 0.3;
}

.popup__close-button::before,
.popup__close-button::after {
  content: "";

  position: absolute;
  top: -3px;
  right: 9px;

  display: block;
  width: 4px;
  height: 27px;

  background-color: #fb565a;
}

.popup__close-button::before {
  transform: rotate(45deg);
}

.popup__close-button::after {
  transform: rotate(-45deg);
}

